*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
main{
	width: 100%;
	height: auto;
	background: #34495e;
	position: absolute;

}

.content-all{
	width: 100%;
	max-width: 1000px;
	background: #17a086;
	margin: auto;
	margin-top: 80px;
	border: 2px solid white;

}
header{
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	top: 0;
	background: #19bc9d;

}
#check{
	display: none;

}

#check:checked ~ .menu{
	width: 400px;
}

.menu{
	position: fixed;
	top: 60px;
	width: 0px;
	height: 100vh;
	background: #2d3e50;
	transition: all 500ms cubic bezier(1,0,0,1);
	transition-timing-function: cubic bezier(1,0,0,2);
	overflow: hidden;
}

.menu li{
	list-style: none;
	padding: 16px;
	color: white;
	cursor: pointer;
	transition: all 300ms;
	display: block;
	width: 400px;


}

.menu li:hover{
	background: rgba(0,0,0, 0.2);
	border-bottom: 1px solid white;
}

article{
	padding: 40px;
}

.content-all label{
	position: fixed;
	width: 100%;
	max-width: 1000px;
	top: 14px;
	font-size: 26px;
	color: white;
	cursor: pointer;
	z-index: 10;


}

.content-all h2{
	position: fixed;
	width: 100%;
	max-width: 1000px;
	top: 14px;
	font-size: 26px;
	text-align: right;
	color: white;
}

article h1{
	font-size: 30px;
	color: white;
	font-weight: 100;
	margin-top: 20px;
}

article .parrafo1{
	font-size: 20px;
	color: white;
	margin-top: 40px;
	letter-spacing: 2px;
}

article img{
	width: 100%;
	border: 4px solid white;
	margin-top: 40px;
}


article .parrafo2{
	font-size: 20px;
	color: white;
	margin-top: 40px;
	letter-spacing: 1px;
}